.black-han-sans-regular {
  font-family: "Black Han Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  text-transform: uppercase;
}

#body_id{
    background-color: #1D1D1D;
}

#button_container{
    justify-content: center;
    display: flex;
}

.button_style{
  display: flex;
  justify-content:center;
  border: 2px solid black;
  border-radius: 5px;
  width: 100px;
  height: 50px;
  background-color: white;
  text-decoration: none;
  font-size: 30px;
  padding-top: 15px;
  color: #5B0374;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}

#htp_container{
  display:flex;
  justify-content: center;
  margin-top:10px;
}

#play_button{
  display: flex;
  justify-content:center;
  border: 2px solid black;
  border-radius: 5px;
  width: 100px;
  height: 50px;
  background-color: white;
  text-decoration: none;
  font-size: 30px;
  padding-top: 15px;
  color: #5B0374;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#title_container{
    display: flex;
    justify-content: center;
}

#title_id{
    color: white;
    font-size: 50px;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

#tutorial_button{
  text-decoration: none;
  font-size: 30px;
  width: 250px;
  height: 50px;
  margin-top: 10px;
}
